[[source]]
name = "dtone"
url = "https://dtone:MeoxeeB7Raeghaic@pypi.dtone.xyz/iePaediesahnauK6Eokoa1sai1ahmeru/simple/"
verify_ssl = true

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dtone-cdrparser = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
